検証用・雑記用のnotebook

# モジュールのインポート

In [1]:
import pandas as pd
import glob
import os
from tqdm.notebook import tqdm

from modules.constants import LocalPaths
from modules import preparing
from modules import preprocessing
from modules import training
from modules import simulation
from modules import policies
%load_ext autoreload

In [3]:
pd.read_pickle('data/raw/return_tables/return_tables_2021.pickle')

                0                    1              2         3
202106030610   単勝                    8            490         2
202106030610   複勝              8br3br6  190br170br170   4br2br3
202106030610   枠連                3 - 7           1090         5
202106030610   馬連                3 - 8           1330         3
202106030610  ワイド  3 - 8br6 - 8br3 - 6  510br400br660  3br1br11
...           ...                  ...            ...       ...
202106030609   馬連                3 - 4            540         2
202106030609  ワイド  3 - 4br1 - 4br1 - 3  200br170br230   2br1br3
202106030609   馬単                4 → 3            730         2
202106030609  三連複            1 - 3 - 4            470         1
202106030609  三連単            4 → 3 → 1           1790         2

[27469 rows x 4 columns]

In [6]:
filename = os.path.join(LocalPaths.MASTER_DIR, 'horse_results_updated_at.csv')
pd.DataFrame(columns=['horse_id', 'updated_at']).to_csv(filename, index=None)

In [7]:
pd.read_csv(filename)

Empty DataFrame
Columns: [horse_id, updated_at]
Index: []

In [10]:
files = glob.glob(os.path.join(LocalPaths.HTML_HORSE_DIR, '*.bin'))[:5]

In [15]:
import datetime

print(datetime.datetime.fromtimestamp(os.path.getmtime(files[0])))

2022-06-15 20:02:46.134937

In [16]:
datetime.datetime.now()

datetime.datetime(2022, 6, 23, 22, 59, 21, 759177)

In [17]:
datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S')

'2022-06-23 23:00:44'

In [19]:
master = pd.read_csv(filename)
master

Empty DataFrame
Columns: [horse_id, updated_at]
Index: []

In [28]:
sample = pd.DataFrame({'horse_id': ['7878', '8989'], 'updated_at': '2021'})
sample

  horse_id updated_at
0     7878       2021
1     8989       2021

In [32]:
sample2 = pd.DataFrame({'horse_id': ['8989', '3721']})
sample2

  horse_id
0     8989
1     3721

In [35]:
merged = sample.merge(sample2, how='outer')
merged

  horse_id updated_at
0     7878       2021
1     8989       2021
2     3721        NaN

In [39]:
merged.loc[merged['horse_id'].isin(['7878', '3721']), :]

  horse_id updated_at
0     7878       2021
2     3721        NaN

In [1]:
os.path.dirname('data/raw/horse_results/horse_results_2021.pickle')

'data/raw/horse_results'

# ファイルセパレータを修正

In [8]:
import re

path = 'data/html/horse/2012104392.bin'
re.findall(r'horse\W(\d+).bin', path)

['2012104392']

# updated_atの確認

In [3]:
results = pd.read_pickle('data/raw/results/results_2021.pickle')
horse_id_list = results.horse_id.unique()

In [6]:
html_files_horse = preparing.scrape_html_horse_with_master(
    horse_id_list[30:35], skip=True
    )

scraping

  0%|          | 0/5 [00:00<?, ?it/s]

horse_id 2014102036 skipped
updating master

# rawテーブルの更新

In [8]:
results_new = pd.read_pickle('data/raw/results_2020.pickle')
results = pd.read_pickle(LocalPaths.RAW_RESULTS_PATH)
print('old: {}, new: {}'.format(len(results), len(results_new)))

old: 143899, new: 48225

In [9]:
preparing.update_rawdata(filepath=LocalPaths.RAW_RESULTS_PATH, new_df=results_new)
len(pd.read_pickle(LocalPaths.RAW_RESULTS_PATH))

192124

In [14]:
race_info_new = pd.read_pickle('data/raw/race_info_2020.pickle')
race_info = pd.read_pickle(LocalPaths.RAW_RACE_INFO_PATH)
print('old: {}, new: {}'.format(len(race_info), len(race_info_new)))

old: 10362, new: 3456

In [15]:
preparing.update_rawdata(filepath=LocalPaths.RAW_RACE_INFO_PATH, new_df=race_info_new)
len(pd.read_pickle(LocalPaths.RAW_RACE_INFO_PATH))

13818

In [20]:
return_tables_new = pd.read_pickle('data/raw/return_tables_2020.pickle')
return_tables = pd.read_pickle(LocalPaths.RAW_RETURN_TABLES_PATH)
print('old: {}, new: {}'.format(len(return_tables), len(return_tables_new)))

old: 82384, new: 27505

In [21]:
preparing.update_rawdata(filepath=LocalPaths.RAW_RETURN_TABLES_PATH, new_df=return_tables_new)
len(pd.read_pickle(LocalPaths.RAW_RETURN_TABLES_PATH))

109889

In [26]:
peds_new = pd.read_pickle('data/raw/peds_2019.pickle')
peds = pd.read_pickle(LocalPaths.RAW_PEDS_PATH)
print('old: {}, new: {}'.format(len(peds), len(peds_new)))

old: 20367, new: 11557

In [27]:
preparing.update_rawdata(filepath=LocalPaths.RAW_PEDS_PATH, new_df=peds_new)
len(pd.read_pickle(LocalPaths.RAW_PEDS_PATH))

21952